body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 300px;
    margin: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 300px;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.card-content p {
    margin: 0 0 15px;
    color: #555;
}

.share-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}

.share-button:hover {
    background-color: #005f73;
}
.navbar{
    width: 100%;
    height: auto;
    background-color:#333 ;
}
.neon-text {
    font-size: 3em;
    color: #fff;
    text-shadow: 
        0 0 5px #f40,
        0 0 10px #f40,
        0 0 20px #f40,
        0 0 40px #f40,
        0 0 80px #f40,
        0 0 100px #f40,
        0 0 150px #f40;
    margin: 20px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  
    width: 100%;
    bottom: 0;
}