
.post {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .post-content {
    font-size: 16px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;  
  }
  
  .like-button,
  .edit-button,
  .delete-button {
    background: none;
    border: none;
    color: #3897f0;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
  }
  
 
  .edit-button:hover,
  .delete-button:hover {
    text-decoration: underline;
  }
  
  .comment-form {
    display: flex;
    margin-top: 10px;
  }
  
  .comment-input {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
  }
  
  .comment-button {
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .comment-button:hover {
    background-color: #287cc1;
  }
  